{% extends 'base.html' %} {% block title %}Home - My Site{% endblock %}
<!-- Default content goes here -->
{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Welcome to Our Site</h1>
        <p class="lead">This is the homepage content.</p>
    </div>
    <div class="box">
        <img id="robot" src="https://blob.sololearn.com/courses/robot-c.jpg">
        <p>Image id: <strong>robot</strong></p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Quick Links</h5>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
                <a href="{{ url_for('register') }}" class="btn btn-outline-primary">Register</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}